#info-pessoal {
    padding: 2% 3% 2%;
    background-color: #E1E7E4;
    border-radius: 3%;
    margin: 0 0 3% 0;
}

.avatar {
    width: 80%;
    margin-bottom: 10%;
}

.saldo {
    background-color: #FBB53D;
    border-radius: 7%;
    padding: 5%;
    font-size: 0.8em;
}

.logout {
    padding-top: 20%;
}

.logout img {
    width: 16px;
    margin-right: 5px;
}

.logout-texto {
    text-decoration: none;
    color: #212529;
    font-size: 0.8em;
}