#info-pessoal {
    padding: 10% 10% 35%;
    background-color: #E1E7E4;
    border-radius: 5%;
    margin: 8% 0 20% 0;
}

.avatar {
    width: 80%;
    margin-bottom: 10%;
}

.saldo {
    background-color: #FBB53D;
    border-radius: 7%;
    padding: 5%;
    font-size: 0.8em;
}